/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21/04/2020, 10:08:02 PM
    Author     : andre
*/

body{
    background: url(fondo2.jpg);
    background-size: cover;
  position: relative;
  display: flex;
  flex-flow: row;top: 100px;
}

#cuadroMostrar{
    background: black;
    color: white;
    margin: auto;
    
    width:100%;
    height:550px;
    padding: 8px 8px 5px 8px;
    border-top: 10px solid #141414;
    border-right: 10px solid #141414;
    border-left: 10px solid #141414;
    border-radius: 10px;
    opacity: 0.8;
}

#titulo{
    text-align:center;
}

#tabla {
  border-spacing: 10px 5px;
  border: #141414;
  margin: 15px;
  padding: 15px;
  color: white;
}