body{
    margin: 0;
    background: darkgrey;
}

ul, li {
    padding: 0;
    margin: 0;
    list-style: none inside;
}
.slider {
    position:relative; /*Necesitamos que el ul sea relativo*/
}
.slider li {
    opacity: 0; /*Ocultamos todos los <li>*/
    transition: opacity .5s;
    position: absolute; /*Posicionamos en absoluto los <li>*/
    left: 30px;
    top: 0px;
    /*margin:50px;
    padding:50px;*/
    /*border:2px solid red;*/
    background:#fff;
}
.slider li:first-child {
    opacity: 1; /*Mostramos el primer <li>*/
}
.slider li:target {
    opacity: 1; /*Mostramos el <li> al que apunta el enlace*/
}
.menu{
    padding-top: 13rem;
    padding-left: 5rem;
}
nav {
    /*position:relative;*/
    top:200px;
    left:50px;
}


.contenedor{
    padding-top: 10rem;
    width: 1250px;
    height: 600px;
    display: flex;
    justify-content: space-between;
    /*background-color: red;*/
}

#direccion{
    font-size: 40px;
    margin-left: 40px;
    font-style: oblique;
}

#titulovievienda{
    font-size: 20px;
    margin-left: 10px;
    font-style: oblique;
}

#infocasa{
    display: inline;
    margin-top: 10rem;
    margin-left: 3rem;
    left: 30px;
    width: 500px;
    height: 230px;
    /*background-color: green;*/
}

#infocasa label{
    margin-left: 2rem;
}

#tituloprecio{
    font-family: fantasy;
    font-weight: bold;
    font-size: 20px;
}

#cuadrofotos{
    
    margin-top: 10px;
    width: 1000px;
    height: 500px;
    /*float: left;*/
    /*background-color: blue;*/
}

#titulodescripcion{
    font-size: 20px;
    margin-left: 5px;
    font-style: oblique;
}

#infodes{
    /*background-color: violet;*/
    margin-top: 10rem;
    padding-left: 10rem;
    width: 700px;
    height: 230px;
}

#boton{
    border-radius: 6px;
    background: #0F7AEC;
    color: wheat;
    margin: auto;
    padding: 3px 3px 6px 3px;
    position: relative;
    left: 35%;
    top: 5rem;
}

