body{
    background: url(im2.jpg);
}

#cuadroEliminarUsuario{
    width: 380px;
    background: black;
    color: white;
    margin: auto;
    margin-top: 90px;
    padding: 8px 8px 35px 8px;
    border-top: 20px solid #141414;
    border-right: 20px solid #141414;
    border-left: 20px solid #141414;
    border-radius: 6px;
    opacity: 0.8;
}

#titulo_EliminarUsuario{
    font-size: 25px;
    font-family: verdana;
    font-weight: 900;
}

#formulario_EliminarUsuario{
    margin: auto;
    padding-left: 30%;
}

