body{
    margin: 0;
    background: darkgrey;
}

.container{
    width: 85%;
    max-width: 850px;
    margin: 0 auto;
}

.header{ /*cabecera*/
    background: black;
    color: white;
    padding: 1rem 0;    /*relleno*/
    
    /*para hacer el menu fijo */
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    
}
#texto{
    padding-top: 12rem;
    color: #333;
    width: 85%;
    max-width: 900px;
    margin-left: 30%;
}

.header a{  /*para las etiquetas del menu*/
     color: white;
     text-decoration: none;
}
.logo-nav-container{    /*es para separa el logo con el menu*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{  /*para el logo*/
    /*letter-spacing: 5px;
    align-items: center;*/
    /*width: 50px;
    height: 50px;*/
    
}

.navegacion ul{    /*para que no tengan viñeta ni margen*/
    margin: 0;
    padding: 0;
    list-style: none;
}

.navegacion ul li{  /*elementos de lista se muesten uno al lado del otro*/
    display: inline-block
}

.navegacion ul li a{ /* enlaces del menu se muestren flotante */
    display: block;
    padding: 0.5rem 1rem;
    transition: all 0.4s linear; 
}

/*____________________________________________________________________________________*/
/* para submenus*/
.itemprincipal li a{
    background-color: black;
    padding: 10px 15px;
    
    
}
.itemprincipal li ul{   /*ocultamos los submenos*/
    display: none;
    position: absolute;
    min-width: 140px;
}
.itemprincipal li:hover > ul{    /*al pasar por un menu con submenos*/
    display: block;
    background: black;
}
.itemprincipal li ul li{
    position: relative;
}

/*____________________________________________________________________________________*/


.navegacion ul li a:hover{  /*al pasar cursos por los enlaces*/
    background: darkcyan;
    border-radius: 8px;
}

.footer{    /*pie de pagina*/
    background: black;
    color: white;
    padding: 3rem 0;
    margin-top: 6rem;
    text-align: center;
}

table tr:hover{
    background: white;
}
