body{
    margin: 0;
    background: darkgrey;
}

.container{
    width: 85%;
    max-width: 850px;
    margin: 0 auto;
}

.header{ /*cabecera*/
    background: black;
    color: white;
    /*padding: 1rem 0;    relleno*/
    
    /*para hacer el menu fijo */
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

.header a{  /*para las etiquetas del menu*/
     color: white;
     text-decoration: none;
}

.logo-nav-container{    /*es para separa el logo con el menu*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navegacion ul{    /*para que no tengan viñeta ni margen*/
    margin: 0;
    padding: 0;
    list-style: none;
}

.navegacion ul li{  /*elementos de lista se muesten uno al lado del otro*/
    display: inline-block
}

.navegacion ul li a{ /* enlaces del menu se muestren flotante */
    display: block;
    padding: 0.5rem 1rem;
    transition: all 0.4s linear; 
}

/*____________________________________________________________________________________*/
/* para submenus*/
.itemprincipal li a{
    background-color: black;
    padding: 10px 15px;
}

/*____________________________________________________________________________________*/

.navegacion ul li a:hover{  /*al pasar cursos por los enlaces*/
    background: darkcyan;
    border-radius: 8px;
}

.cajalista input:hover{
    background: darkcyan;
    padding: 5px 5px 5px 5px;
    border-radius: 8px;
}


.main{
    margin-left: 3%;
    margin-top: 15%;
    margin-right: 3%;
    /*background-color: red;*/
}

.filtro{  
    top: 3rem;
    float: right;
    width: 220px;
    height: 230px;
    padding-right: 3rem;
    padding: 5px 5px 20px 5px;
    border-top: 5px solid #141414;
    border-right: 5px solid #141414;
    border-left: 5px solid #141414;
    border-bottom: 5px solid #141414;
    border-radius: 8px;
    /*background-color: green;*/
}

label{
    padding-left: 2rem;
}
input{
    border-radius: 8px;
    padding-top: 5px;
    left: 2rem;
}

.boton{
    background-color: #0F7AEC;
    text-align: center;
}

.boton input:hover{
    background: red;
    color:white
}

.lista{
    
    width: 1000px;
    height: 600px;
    /*background-color: blue;*/
    
}


.footer{    /*pie de pagina*/    
    background: black;
    color: white;
    padding: 0.1rem;
    margin-top: 10rem;
    text-align: center;
}

#texto2{
    margin-left: 50px;
}

/*____________________________*/
/* para submenus*/
.itemprincipal li a{
    background-color: black;
    padding: 10px 15px;
    
    
}
.itemprincipal li ul{   /*ocultamos los submenos*/
    display: none;
    position: absolute;
    min-width: 140px;
}
.itemprincipal li:hover > ul{    /*al pasar por un menu con submenos*/
    display: block;
    background: black;
}
.itemprincipal li ul li{
    position: relative;
}

/*____________________________*/
