*{
    margin: 0px;
    padding: 0px;
}

body{
    background: url(imagen3.jpg);
}

#cuadro{
    width: 330px;
    background: black;
    color: white;
    margin: auto;
    margin-top: 100px;
    padding: 5px 5px 30px 5px;
    border-top: 35px solid #141414;
    border-right: 35px solid #141414;
    border-left: 35px solid #141414;
    border-radius: 6px;
    opacity: 0.7;
}

.entrada{
    width: 320px;
    height: 35px;
    border-radius: 6px;
    font-family: verdana;
    font-weight: 900;
}

#btnIniciarSesion{
    width: 324px;
    height: 45px;
    border-radius: 6px;
    background: blue;
    color: white;
    font-size: 17px;
}

#titulo{
    font-size: 30px;
    font-family: fantasy;
}

#subtitulo1{
    padding-left: 130px;
}

#subtitulo2{
    padding-left: 130px;
}

#botonera{
    border-radius: 6px;
    display: flex;
    justify-content: space-between;  
    height: 25px;
    background: bottom;
    color: white;
    font-weight: 900;
}


#marca{
    font-size: 30px;
    padding-left: 190px;
    font-weight: 900;
    margin-top: 30px;
    
}