body{
    background: url(fondo4.jpg);
    padding: 0;
    margin: 0;
    height: 100%;
}

.cuadroRegistroVivienda{
    padding: 1em;
    overflow: hidden;
}

#titulo_Vivienda{
    display: block;
    text-align: center;
    font-size: 25px;
}

#titulo2{
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
    
}

.cuadro{
    margin: 1em;
    padding: 1em;
    float: left;
}

#datosVivienda{
    padding-left: 3rem;
}

.cuadroRegistroVivienda{
    width: 60%;
    background: black;
    color: white;
    margin: auto;
    margin-top: 95px;
    padding: 8px 8px 5px 8px;
    border-top: 10px solid #141414;
    border-right: 10px solid #141414;
    border-left: 10px solid #141414;
    border-radius: 6px;
    opacity: 0.8;
}


input{
    border-radius: 6px;
    font-family: cursive;
    font-size: 15px;
}

.boton{
    border-radius: 6px;
    background: #0F7AEC;
    color: wheat;
    margin: auto;
    padding: 3px 3px 6px 3px;
     position: relative;
    left: 30%;
}

#radio1{
    padding-left: 73px;
}
#radio2{
    padding-left: 85px;
}
#radio3{
    padding-left: 85px;
}
#radio4{
    padding-left: 63px;
}
#radio5{
    padding-left: 77px;
}
#radio6{
    padding-left: 48px;
}
#radio7{
    padding-left: 49px;
}
#radio8{
    padding-left: 50px;
}
#radio9{
    padding-left: 4px;
}
#radio10{
    padding-left: 80px;
}

#cantCuartos{
    position: relative;
    left: 15px;
}
#tipoVivienda{
    position: relative;
    left: 35px;
}
#cantBanos{
    position: relative;
    left: 25px;
}
#dimensiones{
    position: relative;
    left: 45px;
}