/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21/04/2020, 11:30:39 PM
    Author     : andre
*/

body{
    background: url(imgFondos/mostrarViviendas.jpg);
    background-size: cover;
  position: relative;
  display: flex;
  flex-flow: row;
  width: 70%;
  height: 800px;
}

#tablaDescripcion{
    background: black;
    color: white;
    margin: auto;
    margin-top: 50px;
    padding: 8px 8px 35px 8px;
    border-top: 20px solid #141414;
    border-right: 20px solid #141414;
    border-left: 20px solid #141414;
    border-radius: 15px;
    opacity: 0.8;
}

#titulo{
    text-align:center;
}

#tabla {
  border-spacing: 10px 5px;
  border: #141414;
  margin: 15px;
  padding: 15px;
  color: white;
}